html{
    height: 100%;
}

body{
    background-color: rgba(53, 49, 49, 0.619);
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


header{
    
    width: 1020px;
    text-align: center;
    padding-bottom: 20px;

}

.container{
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
   
}


nav{
    background-color: rgba(17, 16, 16, 0.342);
    width: 1020px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}


main{
    
    width: 1020px;
    text-align: center;
    padding-top: 80px;
    color: azure;
    margin-bottom: 60px;

}


footer{
    background-color: rgba(0, 0, 0, 0.654);
    width: 1020px;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    
}

main p{
 margin-left: 150px;
 margin-right: 150px;
}

footer p{
    font-size: 12px;
    font-style: italic;
}

section{
    text-align: center;
}

.map{
    padding-bottom: 100px;
   
}

main a {
    color: aliceblue;
    text-decoration: none;
}